.parallax-container {
  position: relative;
  overflow: hidden;
  height: 700px;
}

.parallax-container .parallax img {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.material-icons {
  vertical-align: middle !important;
  padding-bottom: 3px;
}

.canvas {
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  border: 1px solid black;
}
